h1{
    color:blue;
  
}
h2{
    color: chartreuse;

}


.header{ 
      background-color: cadetblue;
    border: dotted;
}

body{

    background-color: #ffffff
}

.origami{

    border: solid;

}